@charset "utf-8";
 @font-face {
 font-family: 'robotothin_italic';
 src: url('../../fonts/Roboto-ThinItalic.eot');
 src: url('../../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Roboto-ThinItalic.woff2') format('woff2'),  url('../../fonts/Roboto-ThinItalic.woff') format('woff'),  url('../../fonts/Roboto-ThinItalic.ttf') format('truetype'),  url('../../fonts/Roboto-ThinItalic.svg#robotothin_italic') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'robotothin';
 src: url('../../fonts/Roboto-Thin.eot');
 src: url('../../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Roboto-Thin.woff2') format('woff2'),  url('../../fonts/Roboto-Thin.woff') format('woff'),  url('../../fonts/Roboto-Thin.ttf') format('truetype'),  url('../../fonts/Roboto-Thin.svg#robotothin') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'robotoregular';
 src: url('../../fonts/Roboto-Regular.eot');
 src: url('../../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Roboto-Regular.woff2') format('woff2'),  url('../../fonts/Roboto-Regular.woff') format('woff'),  url('../../fonts/Roboto-Regular.ttf') format('truetype'),  url('../../fonts/Roboto-Regular.svg#robotoregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'robotomedium_italic';
 src: url('../../fonts/Roboto-MediumItalic.eot');
 src: url('../../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Roboto-MediumItalic.woff2') format('woff2'),  url('../../fonts/Roboto-MediumItalic.woff') format('woff'),  url('../../fonts/Roboto-MediumItalic.ttf') format('truetype'),  url('../../fonts/Roboto-MediumItalic.svg#robotomedium_italic') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'robotomedium';
 src: url('../../fonts/Roboto-Medium.eot');
 src: url('../../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Roboto-Medium.woff2') format('woff2'),  url('../../fonts/Roboto-Medium.woff') format('woff'),  url('../../fonts/Roboto-Medium.ttf') format('truetype'),  url('../../fonts/Roboto-Medium.svg#robotomedium') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'robotolight';
 src: url('../../fonts/Roboto-Light.eot');
 src: url('../../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Roboto-Light.woff2') format('woff2'),  url('../../fonts/Roboto-Light.woff') format('woff'),  url('../../fonts/Roboto-Light.ttf') format('truetype'),  url('../../fonts/Roboto-Light.svg#robotolight') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'robotocondensed';
 src: url('../../fonts/Roboto-Condensed.eot');
 src: url('../../fonts/Roboto-Condensed.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Roboto-Condensed.woff2') format('woff2'),  url('../../fonts/Roboto-Condensed.woff') format('woff'),  url('../../fonts/Roboto-Condensed.ttf') format('truetype'),  url('../../fonts/Roboto-Condensed.svg#robotocondensed') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'robotobold_condensed';
 src: url('../../fonts/Roboto-BoldCondensed.eot');
 src: url('../../fonts/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Roboto-BoldCondensed.woff2') format('woff2'),  url('../../fonts/Roboto-BoldCondensed.woff') format('woff'),  url('../../fonts/Roboto-BoldCondensed.ttf') format('truetype'),  url('../../fonts/Roboto-BoldCondensed.svg#robotobold_condensed') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'robotobold';
 src: url('../../fonts/Roboto-Bold.eot');
 src: url('../../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Roboto-Bold.woff2') format('woff2'),  url('../../fonts/Roboto-Bold.woff') format('woff'),  url('../../fonts/Roboto-Bold.ttf') format('truetype'),  url('../../fonts/Roboto-Bold.svg#robotobold') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'robotoblack';
 src: url('../../fonts/Roboto-Black.eot');
 src: url('../../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Roboto-Black.woff2') format('woff2'),  url('../../fonts/Roboto-Black.woff') format('woff'),  url('../../fonts/Roboto-Black.ttf') format('truetype'),  url('../../fonts/Roboto-Black.svg#robotoblack') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'robotoitalic';
 src: url('../../fonts/Roboto-Italic.eot');
 src: url('../../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Roboto-Italic.woff2') format('woff2'),  url('../../fonts/Roboto-Italic.woff') format('woff'),  url('../../fonts/Roboto-Italic.ttf') format('truetype'),  url('../../fonts/Roboto-Italic.svg#robotoitalic') format('svg');
 font-weight: normal;
 font-style: normal;
}
* {
	box-sizing:border-box;
}
body {
	background:#f4f4f4;
	font-family:'robotoregular', Arial, Helvetica, sans-serif;
	color:#a8a8a8;
}
h1, h2, h3, h4, h5, h6 {
	font-family:'robotobold', Arial, Helvetica, sans-serif;
}
ul, ol {
	list-style:none;
	margin:0;
	padding:0;
}
a:focus {
	outline:none !important;
}
.btn-group.open .dropdown-toggle{
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
.pad-remove-LR {
	padding-left:0 !important;
	padding-right:0 !important;
}
.pad-remove-l {
	padding-left:0 !important;
}
.pad-remove-r {
	padding-right:0 !important;
}
.clear {
	clear:both;
}
.float-n{
	float:none !important;
}
textarea{
	border:1px solid #dfdfdf;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
.grey-bg{
	background-color:#f9f9f9;
}
tr.grey-bg{
	width:100%;
}
.table > thead > tr > th{
	background-color:#093b68;
	color:#fff;
}
.table-wrap{
	width:100%;
	overflow:auto;
}
/* Table Css
===============================*/

#header {
	width:100%;
	-webkit-box-shadow: 0px 1px 2px 1px rgba(122, 122, 122, 0.3);
	-moz-box-shadow: 0px 1px 2px 1px rgba(122, 122, 122, 0.3);
	box-shadow: 0px 1px 2px 1px rgba(122, 122, 122, 0.3);
	background:#fff;
	margin-bottom:12px;
}
.log-in-section.error input {
	border:1px solid #900 !important;
}
.logo {
	padding-top:20px;
	padding-bottom:20px;
}
placeholder {
	color:#aaa;
}
.log-in-section input {
	border:1px solid #ccc;
	width:210px;
	height:35px;
	line-height:35px;
	color:#000;
	font-size:14px;
	padding-left:10px;
	margin-top:41px;
	margin-bottom:41px;
}
.header-r-section {
	margin:25px auto;
	width:360px;
}
.notification {
	display: block;
	float:left;
	margin-top:-5px;
}
.notification a {
	position:relative;
}
.notification i.badge {
	position: absolute;
    right: 0;
    top: -15px;
	background:#073d82;
	font-style:normal;
}
.badge {
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}
.btn-top {
	border:1px solid #ccc;
	width:75px;
	height:35px;
	line-height:33px;
	font-size:14px;
	margin-top:41px;
	margin-bottom:41px;
	background-color:#fff;
	color:#333;
}
.submit input {
	width:75px;
	height:35px;
	line-height:33px;
	font-size:14px;
	color:#333;
}
.btn-top:hover {
	background-color:#083c83;
	color:#fff;
}
.input-align {
	float:left;
	margin-left:5px;
}
#contant h2 {
	color:#666;
	font-size:36px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:102px;
}
.clients-logo a {
	display:block;
	float:left;
	margin-left:15px;
	margin-bottom:25px;
}
.inner-foot {
	border-top: 1px solid #ddd;
	float: left;
	padding-bottom: 25px;
	padding-top: 25px;
	width: 100%;
}
.inner-foot a {
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color:#0060a4;
	margin-right:20px;
}
.copyr {
	text-align:right;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color:#666;
}
.btn-section {
	float:left !important;
}
.home_container {
	background-image: url("../images/slider-bg.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 493px;
	margin-top:-12px;
}
.home_container #contant h2{
	text-align:right;
}
.error {
	border: 1px solid #F30 !important;
}
.form-title {
	background-color:#f4f4f4;
	padding-top:20px;
}
.form-title h4 {
	color:#083a6b;
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.verticalcenter form {
	background-color:#fff;
	padding:0 0 10px;
}
#partnerform .row {
	margin:15px 0;
}

h2.title {
	color: #083a6b;
	font-family:'robotoregular';
	font-size: 28px;
	font-weight: bold;
}
/* user page
================================ */
.white-bg {
	background-color:#fff;
	padding:35px 0;
	display: inline-block;
	width:100%;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.login-top {
	background-color: #f7f7f7;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	float: right;
	padding: 0 25px 0 0;
	margin:0;
}
.user-image {
	float:left;
	width:47px;
	height:47px;
}
.user-image img {
	width:47px;
	height:47px;
}
.user-name {
	float:left;
	padding-left:10px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:47px;
	color:#696969;
}
.user-name span {
	font-weight:bold;
	color:#134a96;
}
/* top blue content Part
===================================== */
	/* top right part*/
.header-r-section .dropdown.deals {
    float: left;
	margin:0 5px;
}
.header-r-section .dropdown.deals {
	padding:0 !important;
	margin-top:15px;
}
.header-r-section .dropdown-menu{
	border-radius:0 !important;
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	margin-top:15px;
	padding:0;
}
.header-r-section .dropdown.deals .dropdown-menu li > a{
	padding:5px 10px;
	border-bottom:1px solid #e9e9e9;
}


/* top right part End*/
.navbar-default.blue-nav {
	background:#093b68;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	padding:5px 0;
	border:none;
}
.navbar-default.blue-nav ul {
	/*display:inline-block;*/
	margin:0;
	padding:0;
	list-style:none;
}
.navbar-default.blue-nav ul li {
	float:left;
	/*margin:15px 2px 10px;*/
	margin:0 2px 1px;
	background-color:#083762;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
}
.navbar-default.blue-nav ul li.first {
	margin-left:0;
}
.navbar-default.blue-nav ul li.last {
	margin-right:0;
}
.navbar-default.blue-nav ul li a:hover, .navbar-default.blue-nav ul li a:focus {
	background-color:#083762;
}
.navbar-default.blue-nav ul li a {
	font-family:'robotolight', Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#fff;
	width:100%;
	min-height:35px;
	display:block;
	padding-right:20px;
	padding-left:8px;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
}
.navbar-default.blue-nav ul li a:hover, .navbar-default.blue-nav ul li a:focus {
	border:none;
	background:#083762;
	color:#fff;
}
.navbar-default.blue-nav .navbar-nav > li > a {
	padding-top:8px;
	padding-bottom:8px;
	padding-left:8px;
}
.navbar-default.blue-nav ul li a span {
	line-height:35px;
	margin-left:15px;
}
.navbar-default.blue-nav ul li a i {
	width:35px;
	height:35px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border:2px solid #00afff;
	display:block;
	float:left;
	text-align:center;
	overflow:hidden;
}
.navbar-default.blue-nav ul li a:hover i {
	background-color:#00afff;
}
.navbar-default.blue-nav ul li a i img {
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	max-width:100%;
}
.navbar-default.blue-nav ul li.profile a i img {
	margin-top:4px;
}
.navbar-toggle{
	border-radius:0 !important;
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
}
.navbar-toggle:hover,
.navbar-toggle:focus{
	background:none !important;
}
.navbar-default.blue-nav .navbar-toggle .icon-bar{
	background-color:#fff !important;
}
.navbar-default.blue-nav .navbar-nav > .open > a, 
.navbar-default.blue-nav .navbar-nav > .active > a{
	background:#083762 !important;
	color:#fff !important;
}
.main-content {
	margin-top:20px;
}

.home_container h2{
	text-align:right;
}
.navbar-default.blue-nav  .dropdown-menu li{
	float:none !important;
	display:block !important;
	border-radius:0 !important;
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
}
.navbar-default.blue-nav .dropdown-menu{
	background:#093b68 !important;
}
.navbar-default.blue-nav .dropdown-menu ul li a{
	border-radius:0 !important;
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
}
/* Left Part
============================== */
.user-section {
	padding:35px 20px;
}
.user-section p {
	font-size:12px;
	font-family:'robotobold', Arial, Helvetica, sans-serif;
}
.user-pic {
	border-bottom:1px solid #e9e9e9;
	margin-bottom:20px;
}
.user-pic h3 {
	text-align:center;
	font-family:'robotobold', Arial, Helvetica, sans-serif;
	font-size:26px;
}
.user-pic-image {
	border: 1px solid #e1e1e1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	display: block;
	height: 223px;
	margin: 0 auto;
	padding: 15px;
	width: 223px;
}
.user-pic-image img, .profile-image img {
	text-align:center;
	margin: 0 auto;
	width:100%;
	height:100%;
}
/* right Part
============================== */
.user-image-sm img {
	padding:5px;
	border: 1px solid #e1e1e1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width:82px;
	height:82px;
}
.posted-image-sm img{
	padding:3px;
	border: 1px solid #e1e1e1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width:70px;
	height:70px;
}
.reply-image-sm img{
	padding:2px;
	border: 1px solid #e1e1e1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width:50px;
	height:50px;
}
.comment-area {
	border: 1px solid #e1e1e1;
}
.comment-area:before {
	background: url("../images/comment-arrow.jpg") no-repeat left 20%;
	content: "";
	height: 21px;
	left: -8px;
	position: absolute;
	top: 21px;
	width: 10px;
}
.comment-area input[type="text"], .comment-area textarea {
	height:80px;
	width:100%;
	border:none;
	padding:15px;
}
hr {
	border-bottom:1px solid #e9e9e9;
	margin-top: 20px;
	margin-bottom: 20px;
}
.border-bottom{
	border-bottom:1px solid #e9e9e9;
}
.comment-content h4,
h4.title {
	font-size:18px;
	font-family:"robotobold", Arial, Helvetica, sans-serif !important;
	font-weight:normal;
}
h4.title{
	color:#093b68;
}
.comment-content h4{
	margin-top:0;	
	color:#333;
}
h2.page-title{
	padding-bottom:20px;
	margin-bottom:20px;
}
.comment-content .update-time {
	font-family:"robotomedium_italic", Arial, Helvetica, sans-serif;
	
	display:block;
	}
.comment-content .left {
	float:left;
}
.comment-content .left .update-time{
	clear:both;
	margin-top:15px;
	float:left;
	display:block;
}
.comment-content .right {
	float:right;
	color:#848484;
	font-family:"robotoregular",Arial,Helvetica,sans-serif;
}
.right-part h2.comment-title {
	color:#626262;
	font-family:"robotobold", Arial, Helvetica, sans-serif;
	font-size:20px;
	margin-top:10px !important;
	text-transform:capitalize;
}

.comment-counting {
	margin-top:15px;
	float:left;
}
.comment-counting li {
	float:left;
	padding:0 20px;
	color:#848484;
	font-family:"robotobold", Arial, Helvetica, sans-serif;
	text-transform:capitalize;
}
.comment-counting li.first {
	padding-left:0;
	color:#093b68;
}
.comment-counting li.last {
	background: url("../images/divider-comment.jpg") no-repeat left 3px;
}
/* right-part
============================= */
.profile-image {
	border: 1px solid #e1e1e1;
	border-radius: 50%;
	display: block;
	height: 150px;
	margin: 0 auto;
	padding: 10px;
	width: 150px;
}
.right-part h2 {
	margin-top:0;
}

/* profile page
======================== */
.profile-address {
    margin-top: 30px;
}
.comment-content .comment-user-name b{
	font-weight:normal !important;
	color: #093b68 !important;
	margin-left: 5px;
}

/* form
======================== */
.input-row label {
    font-weight: normal;
    margin-top: 8px;
}
input[type="file"]{
	border:none;
	padding:0;
	margin-bottom:20px;
}
#partnerform .input-row .form-control{
	width:100%;
}
.form-control{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
}
.submit-button,
.reply-buttons ul li{
    margin: 0 auto;
    text-align: center;
}
#partnerform .submit-button{
	text-align:left;
}
.submit-button input[type="submit"],
.reply-buttons ul li button,
.submit-button button,
.submit-button input[type="button"],
.reply-buttons button{
	background:#083a6b;
	color:#fff;
	text-shadow:none;
	-webkit-text-shadow:none;
	-moz-text-shadow:none;
	opacity:1;
	border:none;
	cursor:pointer;
}
.submit-button input[type="submit"]:hover,
.submit-button input[type="submit"]:focus,
.reply-buttons ul li button:hover,
.reply-buttons ul li button:focus,
.submit-button button:hover,
.submit-button button:focus,
.submit-button input[type="button"]:hover,
.submit-button input[type="button"]:focus,
.reply-buttons button:hover,
.reply-buttons button:focus{
	background:#00afff;
	color:#fff;
}
input[disabled="disabled"]{
	background:#dfdfdf !important;
}
ul.comment-counting li button{
	font-family:'robotoregular', Arial, Helvetica, sans-serif;
}
.reply-buttons{
	clear:both;
    border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
    clear: both;
    padding: 10px 0;
    width: 100%;
	float:left;
	margin-bottom: 15px;
    margin-top: 15px;
}
.reply-buttons li.first{
	margin-right:10px;
}
.reply-buttons ul li{
	float:left;
}
.reply-form form{
	margin:20px 0;
}
.reply-form > form > div >input{
	width:100%;
	height:41px;
	margin-bottom:20px;
	border:1px solid #dfdfdf;
	padding:0 15px;
}

.reply-form > form > .submit-button input{
	width:auto !important;
}
.reply-form .comment-area{
	margin-bottom:20px;
}
.comment-wrapper{
	position:relative;
}
.comment-wrapper{
	position:relative;
}
h4.comment-user-name{
	color:#093b68;
}
h3.comment-title{
	color:#333;
	font-family: robotobold;
    font-size: 18px;
}
.btn_wrapper{
	padding-left:20px;
	padding-right:20px;
}
.btn_wrapper .submit-button{
	float:right;
}

/* pagination
============================= */
.pagination > li:first-child > a, 
.pagination > li:first-child > span,
.pagination > li:last-child > a, 
.pagination > li:last-child > span{
	border-radius:0 !important;
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
}
ul.pagination {
	float:right;
	padding:0 15px;
}
/* add deal page
=================================== */
.add_deal_btn{
	float:right;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:20px;
}
.message-form .comment-area::before{
	left:6px;
}
.top_space{
	margin-top:10px;
}
.maeesage-wrapper h2{
	margin-bottom:0;
}
.message-detail .top .left .user-type{
	float:left;
	color:#093b68;
}
.message-detail .top .left h5{
	float:left;
	margin:2px 0 3px 10px;
	color:#093b68;
	font-weight:bold;
}
.searchdeal_wrapper{
	float: left;
    margin: 0 auto 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
	padding-bottom:20px;
	border-bottom:1px solid #e9e9e9;
}
.searchdeal {
    margin: 0 auto; 
    padding: 0 20px;
    width: 80%;
}
.searchdeal label.search-title{
	float: left;
    font-weight: normal;
    margin-top: 6px;
    text-align: left;
    width: 20%;
}
.searchdeal .search-input{
	width:80%;
	float:left;
}
.progress {
    border: 3px groove #ccc;
    display: inline-block;
    width: 100px;
}
.progress div {
    background: none repeat scroll 0 0 orange;
    font-size: smaller;
    width: 0;
}